body
{
	background-color: white;
}

.Header
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 24px;
	right: 0px;
	background-color: #404040;
	border-bottom: 1px solid black;
}

.WindowLocation
{
	position: absolute;
	top: 25px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: white;

	overflow-y: hidden;
	overflow-x: hidden;
}