body
{
	background-color: white;
}

.Header
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 64px;
	right: 0px;
	background-color: #404040;
	border-bottom: 4px solid #98BF21;
}

.WindowLocation
{
	position: absolute;
	top: 68px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: white;

	overflow-y: hidden;
	overflow-x: hidden;
}